{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td>
            Your Input as follows <br />
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        {{ person.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Age :
                    </td>
                    <td>
                        {{ person.age }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sex
                    </td>
                    <td>
                        {{ person.sex }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Account Type
                    </td>
                    <td>
                        {{ person.account_type }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tags
                    </td>
                    <td>
                        {{ person.tags }}
                    </td>
                </tr>

            </table>


        </td>
        <td>
            <ul>
                {% for line in lines %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>


{% endblock %}

